.restaurantPanel {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 750px;
}

.panel {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(167,156,142,0.52);
  width: 100%;
  margin-bottom: 80px;
  position: relative;
}

.featureImage {
  span {
    align-items: center;  
  }
}

.textWrapper {
  margin: 40px;
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans';
}
