.containerCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.noneFound {
  text-align: center;
}

.noPad {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
