.aboutInfo {
  min-height: 400px;
}

.paddedHeader {
  padding: 50px;
}

.avatar {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
}
