.cardInfo {
  margin: 0;
  overflow: hidden;
  padding: 30px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 1.2rem;
  color: rgb(107, 107, 107);
  p {
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 100%;
  }
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

.type {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
  margin: 0;
  font-style: italic;
}

.paragraph {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
