.restaurantGrid {
  display: flex;
  flex-wrap: wrap;
}

.cardInfo {
  margin: 0;
  padding: 0 20px;
  line-height: 10px;
  line-spacing: 10px;
  overflow: hidden;
}

.imageWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 40px;
  text-decoration: none;
  outline: none;
  background: #fff;
}

.contents {
  opacity: 1 !important;
  text-align: center;
  z-index: 1;
  color: #865CD6;
}

.panel {
  display: inline-block;
  background: #ffffff;
  min-height: 250px;
  max-height: 350px;
  width: calc(33.33% - 20px);
  margin: 10px;
  box-shadow:0px 0px 5px 5px #C9C9C9;
  -webkit-box-shadow:2px 2px 5px 5x #C9C9C9;
  -moz-box-shadow:2px 2px 5px 5px #C9C9C9;
  @media screen and (max-width: 768px) {
    width: calc(50% - 20px);
  }
  @media screen and (max-width: 600px) {
    width: calc(100% - 20px);
  }
}

.link {
  cursor: pointer;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  opacity: 0.2;
  transition: all .6s ease-in-out;
  &:hover {
    opacity: 0.8;
    z-index: 2;
    transform: scale(1.3);
  }
}
