.restaurantReview {
  font-size: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 200;
  color: #666;
  margin: 10px 0;
  text-align: center;
  flex-basis: 200px;
}

.starRating {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviewParagraph {
  text-align: left;
}

.innerBox {
  
}
