.restaurantReview {
  font-size: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 200;
  color: #666;
  margin: 10px 0;
  text-align: center;
}

.name {
  margin-bottom: 5px;
  font-size: 1.6rem;
  text-align: center;
}

.date {
  background-color: #fff;
  padding: 10px;
}

.dateWrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.starRating {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  letter-spacing: 10px;
}

.reviewParagraph {
  text-align: left;
  font-size: 1.3rem;
}

.dateDivider {
  width: 70%;
  height: 12px;
  border-bottom: 1px solid rgb(130, 130, 130);
  text-align: center;
}

.box {
  margin: 12px;
  min-height: 330px;
}
