.restaurantReview {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(167,156,142,0.52);
  width: 48%;
  padding: 15px;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    width: 96%;
  }
  font-size: 1.3rem;
  font-family: 'Open Sans';
  font-weight: 200;
  color: #666;
  margin: 10px 0;
  text-align: left;
}

.starRating {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
