.restaurantHours {
  padding: 5px;
  font-family: 'Open Sans';
}

.list {
  min-width: 500px;
  @media screen and (max-width: 700px) {
    min-width: 300px;
  }
  @media screen and (max-width: 500px) {
    min-width: 200px;
  }
}
