.reviewGrid {
  display: flex;
  flex-wrap: wrap;
  background: #f5f5f5;
  padding: 50px;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.headline {
  width: 100%;
  margin-top: 50px;
}

.responsive {
  flex-basis: calc(25% - 24px);
  @media screen and (max-width: 1600px) {
    flex-basis: calc(33.33% - 24px);
  }
  @media screen and (max-width: 1200px) {
    flex-basis: calc(50% - 24px);
  }
  @media screen and (max-width: 768px) {
    flex-basis: calc(100%);
  }
}
