.bannerHeader {
  box-shadow: 0 2px 4px 0 rgba(167,156,142,0.52);
  margin-bottom: 100px;
  position: relative;
  background-color: #0A64A0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px 0;
  color: white;
}
