.container {
  height: 100vh;
  width: 100%
};

.footerCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.sectionHeader {
  margin-top: 40px;
}

.putInMiddle {
  height: 100%;
  display: flex;
  justify-content: center;
}
